.card {
  width: 100%;
  min-width: 200px;
  max-width: 800px;
  overflow: hidden;
}

.card__heading {
  width: 100%;
  color: #fff;
  word-break: break-word;
}

.card__content {
  display: flex;
  padding: 10px 0;
  flex-direction: column;
}

.card__text {
  margin-bottom: 30px;
  color: #fff;
}

.card__img {
  width: 100%;
  min-width: 200px;
  max-width: 100%;
}

.imgCont {
  position: relative;
  display: flex;
}

.time {
  position: absolute;
  z-index: 2;
  padding: 5px;
  color: #fff;
  text-decoration: none;
  background-color: rgba(0, 0, 0, 0.5);
}

.time a:active, a:visited, a:hover, a:link {
  text-decoration: none;
}

@media (min-width: 600px) {
  .card--wide {
    display: flex;
  }
}

@media (min-width: 600px) {
  .card--wide .card__content {
    align-items: flex-start;
  }
}

@media (min-width: 600px) {
  .card--wide .card__img {
    min-width: 400px;
    height: 100%;
    object-fit: cover;
  }
}
