.buttons {
  display: flex;
  width: 32px;
  height: 32px;
  flex-direction: column;
  align-items: center;
  content: "";
  background-size: 32px 32px;

  .button--back {
    background: transparent url("back.svg") no-repeat;
  }

  .button--play {
    background: transparent url("play.svg") no-repeat;
  }

  .button--pause {
    background: transparent url("pause.svg") no-repeat;
  }

  .button--mute {
    background: transparent url("mute.svg") no-repeat;
  }

  .button--unmute {
    background: transparent url("unmute.svg") no-repeat;
  }

  .button--fullscreen {
    background: transparent url("fullscreen.svg") no-repeat;
  }

  .button--next {
    background: transparent url("next.svg") no-repeat;
  }

  .button--play--overlay {

  }
}
