html { /* stylelint-disable-line */
  box-sizing: border-box;
}

*, *:before, *:after { /* stylelint-disable-line */
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

html { /* stylelint-disable-line */
  font-family: helvetica, arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #fff;
  background-color: #303030;
}

main { /* stylelint-disable-line */
  max-width: 1200px;
  margin: 0 auto;
}

header { /* stylelint-disable-line */
  margin: 10px 0;
}

h1 { /* stylelint-disable-line */
  margin: 10px;
  font-size: 2em;
}

@import "scss/heading";
@import "scss/cardlist";
@import "scss/card";
@import "scss/video";
@import "scss/overlay";
